@media screen and (max-width: 376px) {
  body {
    font-size: 18px;
  }
  .red-link {
    font-size: 18px;
  }
  .red-centre-bold {
    font-size: 20px;
  }
  .half-width,
  .half-width-inline,
  .half-width-column,
  .container-flex-pl13 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .container-flex-pl13-info__text {
    text-align: center;
  }
  .container-flex-pl13 img {
    padding-right: 0;
  }
  .black-centre-24 {
    font-size: 26px;
  }
  .half-width p {
    padding-left: 0;
  }
  .snimok {
    width: 300px;
  }
  .hamburger-slide a {
    line-height: 40px;
    font-size: 16px;
  }
  .hamburger-flex {
    padding: 0 15px;
  }
  .hamburger-phone {
    display: none;
  }
  .hamburger-slide-container {
    height: 90%;
  }
  input {
    height: 60px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  form button {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height: 60px !important;
  }
  hr {
    margin-top: 45px;
  }
  .main-content.content-appreciate-advantages-item-top p {
    padding-left: 20px;
    text-align: left;
  }
  .main-content.content-chief-text-sign {
    padding-right: 20px;
  }
  .main-content.content-appreciate-advantages {
    padding-top: 50px;
  }
  .main-content.content-gallery-photos {
    width: 80%;
    margin: 0 auto;
    margin-left: 20px;
  }
  .main-content.content-gallery-license img {
    margin: 25px 0 0 50px;
    max-width: 150px;
  }
  .main-content.content-gallery-license {
    width: 80%;
    margin-left: -20px;
  }
  .main-content.content-gallery-photos .gallery-item img {
    max-height: 160px;
  }
  .slick-dots {
    display: none !important;
  }
  .footer {
    height: 50px;
  }
  .footer-link {
    display: none;
  }
  .footer-phones {
    text-align: center;
    -webkit-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  .contacts-flex-item {
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    font-size: 15px;
    width: 235px !important;
    margin-left: 85px !important;
  }
  .contacts-flex-item:first-child:before {
    top: -10px;
  }
  .contacts-flex-item:nth-child(2):before {
    left: -57px;
    top: 0;
  }
  .contacts-flex-item:nth-child(3):before {
    left: -69px;
  }
  .contacts-flex-item:nth-child(4):before {
    left: -63px;
  }
}
