@media screen and (max-width: 641px) {
  body {
    font-size: 16px;
  }
  .main-content.content-jumbotron strong {
    line-height: 1.5em;
  }
  .hamburger-slide {
    height: 90vh;
  }
  .hamburger-adress {
    display: none !important;
  }
  .hamburger-slide-container {
    height: 95%;
  }
  .hamburger-slide a {
    width: 100%;
  }
  .main-content.content-appreciate {
    margin-top: 0;
    text-align: center;
   }
  .main-content.content-appreciate-advantages {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-content.content-appreciate-advantages-item {
    font-size: 16px;
    width: 90%;
    margin: 20px auto 0;
  }
  .main-content.content-jumbotron {
    height: 380px;
  }
  .main-content.content-appreciate-advantages-item-top {
    font-size: 18px;
    -webkit-box-pack: center;
    text-align: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
  }
  .main-content.content-input {
    padding-top: 25px;
  }
  .main-content.content-doctors {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  .main-content.content-doctors-item {
    margin: 0 auto;
    width: 90%;
  }
  .main-content.content-appreciate-header {
    display: none;
  }
  .main-content.content-doctors-item img {
    width: 100%;
  }
  .main-content.content-chief-text {
    padding-left: 30px;
  }
  .main-content.content-gallery {
    margin-top: 60px;
    width: 90%;
  }
  .footer {
    padding-bottom: 0;
    width: 100%;
  }
  .footer-text {
    display: none;
  }
  .main-content.content-circles-item-number {
    margin-top: 60px;
	}
  .fotogalereya .container-gallery, .fotogalereya .container-docs {
    margin: 0 auto;
    width: 300px;
    border-radius: 50%;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    height: 300px;
}
  .fotogalereya .container-gallery a,
  .fotogalereya .container-docs a {
    width: 180px;
    left: 60px;
    box-sizing: border-box;
  }
  .about-team .half-width-column {
    width: 100%;
  }
  .btn {
    margin-bottom: 10px;
  }
  .container-flex-2 img {
    width: 100%;
  }
  .half-width,
  .half-width-inline,
  .half-width-column {
    width: 100%;
  }
  .half-width p {
    text-align: left;
  }
  .container-flex-pl13 {
    width: 96%;
  }
  .container-price{
    width: 25% !important;
  }
  .centre {
    width: 90%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  table {
    font-size: 13px;
    text-align: left;
  }
  .pt5 {
    padding-top: 0;
	}
  li {
  	line-height: 20px;
  }
  .black-centre-24 {
    font-size: 24px;
    margin: 30px auto;
  }
  .red-link {
    font-size: 18px;
  }
  .container-code {
    display: none;
  }
  .container-header {
    text-align: center !important;
  }
  th:first-child {
    display: none;
  }
  .half-width {
    margin: 0;
  }
  .half-width p {
    text-align: center;
  }
  .container-flex-pl13 {
  	text-align: center;
    margin-bottom: 15px;
  }
    .container-flex-pl13-info__text {
  	text-align: center;
    margin-top: 10px;
  }
  .container-flex-pl13 img {
    height: 115px;
    padding-right: 0;
}
}
@media screen and (min-width: 380px) and (max-width: 640px) {
  .footer-phones {
    position: absolute;
  }
  .footer-logo {
    display: none;
  }
}
